@import "./style.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    z-index: -3;
}

.hidden {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --font-size: 1.875em;
    --title-size: 10em;
    --menu-size: 11em;
    --title-font: areminiscent;
    --small-font: Neue;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    width: 100%;
    margin: 2em 0;
    // background-color: red;
    overflow: hidden;
    .toggle {
        position: relative;
        cursor: pointer;
        font-family: var(--small-font);
        font-size: 0.938em;
        mix-blend-mode: difference;
        z-index: 2;
        margin: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(120%);
        &:before {
            content: '';
            position: absolute;
            background-color: white;
            height: 1px;
            width: 0;
            transform-origin: center center;
            top: 50%;
            transition: width 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            &:before {
                width: 120%;
                transition: width 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
    .logo {
        font-family: var(--title-font);
        font-size: 1.25em;
        margin: 2em;
        transform: translateY(120%);
    }
}

.nav_container {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    // background-color: red;
    transition: z-index 1.5s ease-in-out;
}

.bar {
    transform-origin: 50% 50%;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: height .45s cubic-bezier(0.76, 0, 0.24, 1), width .45s cubic-bezier(0.76, 0, 0.24, 1) .45s;
}

.openedBar {
    transition: width .45s cubic-bezier(0.76, 0, 0.24, 1), height .45s cubic-bezier(0.76, 0, 0.24, 1) .45s;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.opened {
    overflow-y: hidden;
    height: 100vh;
    z-index: 1;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--title-font);
    font-size: var(--title-size);
    color: black;
    z-index: 2;
    transition: bottom .90s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 1em;
    bottom: 100%;
    &_about {
        overflow-y: hidden;
        position: relative;
        justify-self: center;
        // background-color: red;
        a {
            text-decoration: none;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
            color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                position: absolute;
                content: '';
                height: 2px;
                width: 0;
                transform-origin: center center;
                top: 50%;
                background-color: black;
                transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &_projects {
        overflow-y: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        a {
            text-decoration: none;
            color: black;
        }
        &::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 0;
            transform-origin: center center;
            top: 50%;
            background-color: black;
            transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            &::before {
                width: 110%;
            }
        }
    }
    &_contact {
        overflow-y: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        a {
            text-decoration: none;
            color: black;
        }
        &::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 0;
            transform-origin: center center;
            top: 50%;
            background-color: black;
            transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            &::before {
                width: 110%;
            }
        }
    }
    .word {
        display: inline-block;
        // background-color: red;
        transform: translateY(-100%);
    }
}

.menuToggled {
    bottom: 0;
}

.title {
    position: absolute;
    top: 0;
    font-size: 14em;
    font-family: var(--title-font);
    display: flex;
    align-items: center;
    margin-left: 1em;
    width: 100%;
    height: 100vh;
    // background-color: red;
    text-align: center;
    z-index: -1;
    p {
        overflow: hidden;
        height: fit-content;
        .word .char {
            will-change: transform;
            transform: translateY(100%);
            display: inline-block;
        }
    }
    a {
        position: relative;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;
        &::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 0;
            transform-origin: center center;
            top: 50%;
            background-color: white;
            transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}